*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
    border: 1px solid;
}


header{
    /* top: 0 ; */
    /* left: 0; */
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid;
}


.nav-item{
    font-size: 20px;
    margin-left: 40px;
}

.nav-item a{
    color: #22343D;
}


.b2{
    color: 
    #fff;
    background-color: #02897A;
    border: none;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
}

.b1{
    margin-right: 10px;
    color: 
    #173A56;
    background-color: #BCD0E5;
    border: none;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
}

.hearor{
    display: flex;
    padding-top: 100px;
    width: 1091px;
    height: 555.72px;
    margin: 0 auto;
}

.hearor-text{
    margin-top: 50px;
    width: 518px;
    height: 331px;
}

.hearor-text h1{
    font-size: 40px;
}

.hearor-text p{
    font-size: 18px;
}

.hearor-img{
    margin-top: -80px;
}

.btn2{
    margin-right: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #02897A;
    color: white;
}

.hearor-text a{
    color: #02897A;
    text-decoration: underline;
}

.product{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position-y: 150px;
    background-image: url(./images/Bg\ \(1\).png);
    width: 100%;
    height: 543px;
}

.product-text{
    padding-left: 445px;
    width: 100%;
    height: 25%;
    font-size: 26px;
}

.product-text h2{
    text-align: center;
    width: 530px;
}

.product-card{
    justify-content: space-between;
    margin-left: 180px;
    margin-top: 50px;
    display: flex;
    width: 1095px;
    height: 204px;
}

.card{
    width: 240px;
    height: 178px;
}

.btn3{
    margin-top: 50px;
    margin-left: 630px;
    color: white;
    background-color: #02897A;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.Management{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    width: 1200px;
    height: 500px;
}


.management-text{
    width: 50%;
    height: 100%;
}

.management-img{
    width: 50%;
    height: 100%;
}


.m-text{
    margin-top: 30px;
    margin-left: 50px;
    width: 486px;
    height: 435px;
}

.m-text h4{
    font-size: 16px;
}

.m-text h2{
    padding-bottom: 80px;
    font-size: 32px;
}


.m-text p{
    font-size: 16px;
}

.Customer{
    display: flex;
    width: 1150px;
    height: 510px;
    margin-top: 100px;
    margin-left: 125px;
}


.customer-img{
    width: 50%;
    height: 100%;
}

.customer-text{
    width: 50%;
    height: 100%;
}

.c-text{
    margin-left: 80px;
    margin-top: 40px;
    width: 486px;
    height: 427px;
}

.c-text h4{
    font-size: 16px;
}

.c-text h2{
    font-size: 32px;
}

.c-text p{
    font-size: 16px;
}

.c-text img{
    margin-top: 20px;
}


.Collaborative{
    display: flex;
    width: 1120px;
    height: 455px;
    margin-top: 100px;
    margin-left: 135px;
}

.collaborative-text{
    width: 50%;
    height: 100%;
}

.coll-text{
    width: 486px;
    height: 416px;
}

.coll-text h4{
    font-size: 16px;
}

.coll-text h2{
    font-size: 32px;
}

.coll-text p{
    font-size: 16px;
}

.collaborative-imga{
    width: 50%;
    height: 100%;
}

.Process{
    background-image: url(./images/Bg\ \(2\).png);
    background-repeat: no-repeat;
    margin-top: 100px;
    width: 100%;
    height: 522px;
}


.process-title{
    margin-left: 230px;
    margin-top: 50px;
    width: 963px;
    height: 469px;
}

.p-text{
    text-align: center;
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

.p-text h2{
    margin-top: -1px;
    font-size: 27px;
}

.p-text p{
    font-size: 16px;
}

.p-img{
    display: flex;
    width: 100%;
    height: 80%;
}

.img-left{
    padding-top: 50px;
    width: 50%;
    height: 100%;
}

.img-right{
    padding-left: 75px;
    padding-top: 50px;
    width: 50%;
    height: 100%;
}

.btn4{
    padding: 15px 40px;
    background-color: #02897A;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 370px;
}

.Content{
    margin-left: 146px;
    margin-top: 100px;
    width: 1110px;
    height: 560px;
}

.content-text{
    width: 100%;
    height: 20%;
}

.content-text h2{
    font-size: 42px;
}

.content-text p{
    font-size: 23px;
}
.content-card{
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 70%;
}

.c-card{
    width: 348px;
    height: 359px;
}

.sp1{
    font-size: 32px;
    color: #02897A;
}

.c-card h2{
    font-size: 30x;
}


.consol{
    padding-top: 20px;
    text-align: center;
}

.Table{
    width: 1110px;
    height: 590px;
    margin-top: 100px;
    margin-left: 145px;
}

.Table-text{
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 20%;
}

.table-card{
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    width: 100%;
    height: 80%;
}

.t-card{
    padding-top: 40px;
    box-shadow: 0px 2px 8px 0px #00000040;
    border-radius: 10px;
    text-align: center;
    width: 323px;
    height: 456px;
}
.t-cards{
    padding-top: 40px;
    color: white;
    box-shadow: 0px 2px 8px 0px #00000040;
    background-color: #02897A;
    text-align: center;
    width: 323px;
    height: 456px;
    border-radius: 10px;
}

.btn5{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #02897A;
    color: white
}

.btn6{
    border: none;
    border-radius: 5px;
    color: #02897A;
    background-color: white;
    padding: 10px 30px;
}

.Clients{
    width: 1110px;
    height: 414px;
    margin-top: 100px;
    margin-left: 145px;
}

.client-text{
    text-align: center;
    width: 100%;
    height: 30%;
}

.client-text h2{
    margin-top: -1px;
    font-size: 34px;
}

.client-text p{
    font-size: 16px;
}

.client-card{
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    width: 100%;
    height: 70%;
}

.card-item{
    border-radius: 5px;
    font-size: 22px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid  #DEDEDE;
    width: 327px;
    height: 236px;
}

.Join100{
    border-radius: 32px;
    display: flex;
    background-color: #02897A;
    margin-left: 220px;
    margin-top: 100px;
    width: 968px;
    height: 345px;
}

.join-text{
    width: 50%;
    height: 100%;
}

.j-text{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    width: 410px;
    height: 250px;
}

.j-text h2{
    margin-top: -5px;
    font-size: 36px;
}

.btn7{
    margin-top: 30px;
    color: #02897A;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 10px 35px;
}

.join-img{
    margin-left: 65px;
}

footer{
    width: 1110px;
    height: 246px;
    margin-left: 153px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.box-top{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 80%;
}

.t-logo{
    width: 200px;
    height: 100px;
}

.t-logo img{
    margin-top: 5px;
    margin-left: 15px;
}
.box-bottom{
    font-size: 20px;
    text-align: center;
}

.darkMod{
    background-color: black;
    color: white;
}

.moon{
    border-radius: 30px;
    padding-top: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
}







